{% extends "base.html" %}
{% load static %}
{% block message %}
{{ message }}
{% endblock %}
{% block menu %}
<table width=100%>
  {% for key,value in menu.items %}
    <tr>
      <td><a href="{{ key }}" class="menu">{{ value }}</a></td>
    </tr>
  {% endfor %}
</table>
{% endblock %}
{% block content %}
<table width=100%>
  <tr><td colspan=3>Home
    <a href="/xx/clicommands"> Cli Commands</a>
    </table>
<table width=100%>
<form action="/xx/clicommandedit" method="post">{% csrf_token %}
  {{ form }}
  <br><button type="submit" class="btn btn-primary">SAVE</button>
  </form>
</table>
{% endblock %}
