{% extends "home.html" %}

{% block title %} UI Forms {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">

                            <div class="card-body">
                                <div class="card-header">
                                    <h5>Current Devices</h5>
                                </div>
                                <table width=100%>
                                    <tr style="font-weight: bold;">
                                        <td>Action
                                        <td>Computernr
                                        <td>Last seen
                                        <td>IP wifi
                                        <td>IP fixed
                                        <td>Created
                                            {% for value in rpis %}
                                    <tr style="background-color: {{ value.bgcolor }};">
                                        <td><a href="/rpiedit/{{ value.id }}">Details</a></td>
                                        <td>{{ value.computernr }}
                                        <td>{{ value.last_seen }}
                                        <td>{{ value.ipAddressWlan }}
                                        <td>{{ value.ipAddressEth }}
                                        <td>{{ value.created }}
                                    </tr>
                                    {% endfor %}
                                    <tr style="font-weight: bold;">
                                        <td>
                                        <td><br>Add device
                                        <td rowspan=2 valign=bottom>
                                            <input type=submit value=ADD class="btn btn-primary">
                                    <tr>
                                        <td>
                                        <td><!-- form action="/xx/useredit" method="post" -->
                                            <select name=addnewrpi>
                                                <option value=0>Choose one
                                                    {% for value in newrpis %}
                                                <option value={{ value.id }}>{{ value.id }} {{ value.computernr}}
                                                    {% endfor %}
                                            </select>
                                        <td>
                                </table>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- [ Main Content ] end -->
        </div>
    </div>
</div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}

