{% extends "base.html" %}
{% load static %}
<script>
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
</script>dd
{% block message %}
{{ message }}
{% endblock %}
{% block menu %}
<table width=100%>
  {% for key,value in menu.items %}
    <tr>
      <td><a href="{{ key }}" class="menu">{{ value }}</a></td>
    </tr>
  {% endfor %}
</table>
{% endblock %}
{% block content %}
<input type=hidden name=xxid value={{ xxid }}>
<table width=100%>
  <tr><td colspan=3>Home
    {% for k,v in breadcrumb.items  %}
       > <a href="/xx/{{ k }}edit/{{ v }}"> {{ k }}</a>&nbsp;&nbsp;
    {% endfor %}<br>&nbsp;
  <tr><td colspan=5>
    <form method="POST" action="/xx/newnetworkedit">{% csrf_token %}
      <input type="submit" value="Add" class="btn btn-primary">
    </form>
  </tr>
  <tr class="h3"><td valign=top>Id<td>Created at<br>Done<td valign=top>SSID<td valign=top>WiFi<td valign=top>Fixed</tr>
  {% for value in newnetworks %}
    <tr style="background-color: {{ value.bgcolor }};">
      <td valign=top>{{ value.id }}
      <td valign=top>Created:{{ value.created }}<br>Done: {% if value.last_updated != None %}{{ value.last_updated }}{% endif %}
      <td valign=top>{{ value.newssid }}{% if value.psk != "" and value.psk != None %}<br>{{ value.psk }}{% else %}-no password-{% endif %}
      <td valign=top>{{ value.wlan_dhcp_fixed }}
        {% if value.wlan_static_IP != "" and value.wlan_static_IP != None %}<br>static: {{ value.wlan_static_IP }}{% endif %}
        {% if value.wlan_router != "" and value.wlan_router != None %}<br>router: {{ value.wlan_router }}{% endif %}
        {% if value.wlan_network_domain != "" and value.wlan_network_domain != None %}<br>domain: {{ value.wlan_network_domain }}{% endif %}
      <td valign=top>{{ value.eth_dhcp_fixed }}
        {% if value.eth_static_IP != "" and value.eth_static_IP != None %}<br>static: {{ value.eth_static_IP }}{% endif %}
        {% if value.eth_router != "" and value.eth_router != None %}<br>router: {{ value.eth_router }}{% endif %}
        {% if value.eth_network_domain != "" and value.eth_network_domain != None %}<br>domain: {{ value.eth_network_domain }}{% endif %}
      </td>
    </tr>
  {% endfor %}
</table>
{% endblock %}
