{% extends "home.html" %}

{% block title %} UI Forms {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
{% load static %}
<script>
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }



</script>
<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Form Elements</h5>
                        </div>
                        <ul class="breadcrumb">
                            <table width=100%>
                                <tr>
                                    <td colspan=3>Home
                                        {% for k,v in breadcrumb.items %}
                                        > <a href="/{{ k }}edit/{{ v }}"> {{ k }}</a>&nbsp;&nbsp;
                                        {% endfor %}<br>&nbsp;
                                    </td>
                                </tr>
                            </table>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Add Networks</h5>
                            </div>

                        </div>

                        <table width=100%>
                            <form action="/newnetworks" method="post">{% csrf_token %}
                                <input type=hidden name=xxid value="{{ xxid }}">
                                <input type=hidden name=coming_from value=newnetwork>
                                {{ form }}
                                <br>
                                <button type="submit" class="btn btn-primary">SAVE</button>
                            </form>
                        </table>

                    </div>
                </div>
            </div>
            <!-- [ Main Content ] end -->
        </div>
    </div>
</div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}

