{% extends "base.html" %}
{% load static %}

{% block message %}
{{ message }}
{% endblock %}
{% block menu %}
<table width=100%>
  {% for key,value in menu.items %}
    <tr>
      <td><a href="{{ key }}" class="menu">{{ value }}</a></td>
    </tr>
  {% endfor %}
</table>
{% endblock %}
{% block content %}
<table width=100%>
  <tr class="h3"><td>Created at<td>ID<td>Computernr<td>Version<td>Activation Code<td>Last seen</tr>
  {% for value in newrpis %}
    <tr>
      <td>{{ value.created }}
      <td>{{ value.id }}
      <td>{{ value.computernr }}
      <td>{{ value.version }}
      <td>{{ value.activation_code }}
      <td>{{ value.last_seen }}
    </tr>
  {% endfor %}
</table>
{% endblock %}
