{% extends "base.html" %}
{% load static %}
{% block message %}
{{ message }}
{% endblock %}

{% block content %}
<div class="row">
<div class="col">
<form action="register" method="post">{% csrf_token %}
<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;
<table width=50%><tr><td width=33%>
  <div class="h3">Thanks.</div>
  <div>{{ errorr }}</div>
  <br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;
  <div><a href="/../">Back to the site.</a></div>
  <td width=33%>
</table>
</form>
</div></div>
{% endblock %}
