{% extends "base.html" %}
{% load static %}

{% block message %}
{{ message }}
{% endblock %}
{% block menu %}
<table width=100%>
  {% for key,value in menu.items %}
    <tr>
      <td><a href="{{ key }}" class="menu">{{ value }}</a></td>
    </tr>
  {% endfor %}
</table>
{% endblock %}
{% block content %}
<table width=100%>
  <tr><td colspan=3>Home
    {% for k,v in breadcrumb.items  %}
       > <a href="/xx/{{ k }}edit/{{ v }}"> {{ k }}</a>&nbsp;&nbsp;
    {% endfor %}<br>&nbsp;
  <tr class="h3" valign=top style="font-size: 13px;"><td>Created&nbsp;at<td>Text</tr>
  {% for value in rpiloglines %}
    <tr valign=top bgcolor="e6e6e6" style="font-size: 10px; background-color: {{ value.bgcolor }};">
      <td width=111px>{{ value.created }}
      <td>{{ value.text }}
    </tr>
  {% endfor %}
</table>
{% endblock %}
