{% extends "home.html" %}

{% block title %} UI Tables {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">User Table</h5>
                        </div>
                        <!--                        <ul class="breadcrumb">-->
                        <!--                            <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>-->
                        <!--                            <li class="breadcrumb-item"><a href="#!">Tables</a></li>-->
                        <!--                            <li class="breadcrumb-item"><a href="javascript:">Basic Tables</a></li>-->
                        <!--                        </ul>-->
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <!-- [ basic-table ] start -->
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Basic Table </h5>
                                <span class=D-block m-t-5">use class <code>table</code> inside table element</span>
                            </div>
                            <div class="card-block table-border-style">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Userid</th>
                                            <th>Failed</th>
                                            <th>Detail</th>
                                        </tr>
                                        </thead>
                                        {% for list in users %}
                                        <tbody>

                                        <td>{{ list.id }}</td>
                                        <td>{{ list.name }}</td>
                                        <td>{{ list.userid }}</td>
                                        <td>{{ list.failed_logins }}</td>


                                        <td>
                                            <button type="button" class="btn btn-info" title="btn btn-info"
                                                    data-toggle="tooltip"
                                                    onclick="location.href='useredit/{{ list.id }}'">Detail
                                            </button>
                                        </td>
                                        {% endfor %}
                                        <!--                                        <button type="button" class="btn btn-danger" title="btn btn-danger" data-toggle="tooltip">Danger</button>-->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
