{% extends "base.html" %}
{% load static %}
{% block message %}
{{ message }}
{% endblock %}
{% block menu %}
<table width=100%>
  {% for key,value in menu.items %}
    <tr>
      <td><a href="{{ key }}" class="menu">{{ value }}</a></td>
    </tr>
  {% endfor %}
</table>
{% endblock %}

{% block content %}
<div class="row">
<div class="col">
<form action="xnewrpi" method="post">{% csrf_token %}
<table width=50%><tr><!--td width=33%><td width=33% -->
  {% if errorr != '' %}
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label" style="color: red;">{{ error }}</label>
    </div>
  {% endif %}

  <table width=100%>
    <form action="/xx/myaccount" method="post">
    <input type=hidden name=userid value="{{ userid }}">
    {{ form }}
    <br><button type="submit" class="btn btn-primary">REGISTER</button>
    </form>
  </table>

</table>
</form>
</div></div>
{% endblock %}
