{% extends "base.html" %}
{% load static %}

{% block message %}
{{ message }}
{% endblock %}
{% block menu %}
<table width=100%>
  {% for key,value in menu.items %}
    <tr>
      <td><a href="{{ key }}" class="menu">{{ value }}</a></td>
    </tr>
  {% endfor %}
</table>
{% endblock %}
{% block content %}
<table width=100%>
  <tr class="h3"><td><td>ID<td>Computernr<td>Version<td>Last seen</tr>
  {% for value in newrpis %}
    <tr style="background-color: {{ value.bgcolor }};">
      <td><a href="xrpiedit/{{ value.id }}">Details</a>&nbsp;&nbsp;&nbsp;
      <td>{{ value.id }}
      <td>{{ value.computernr }}
      <td>{{ value.version }}
      <td>{{ value.last_seen }}
    </tr>
  {% endfor %}
</table>
{% endblock %}
