<nav class="pcoded-navbar">
    <div class="navbar-wrapper">
        <div class="navbar-brand header-logo">
            <a target="_blank"
               href="https://henk.waaromzomoeilijk.nl:3021/" class="b-brand">
                {% load static%}
                <img src="{% static 'xx/logo.jpg' %}" alt="Logo" height=25>
                <span class="b-title">Waaromzomoeilijk</span>
            </a>
            <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
        </div>
        <div class="navbar-content scroll-div">
            <ul class="nav pcoded-inner-navbar">

                <li class="nav-item pcoded-menu-caption">
                    <label>Forms & table</label>
                </li>
                <li data-username="form elements advance componant validation masking wizard picker select"
                    class="nav-item {% if 'ui-forms' in segment %} active {% endif %}">
                    <a href="{% url 'newrpi' %}" class="nav-link "><span class="pcoded-micon"><i
                            class="feather icon-home"></i></span><span
                            class="pcoded-mtext">New Devices</span></a>
                </li>
                <li data-username="form elements advance componant validation masking wizard picker select"
                    class="nav-item {% if 'ui-forms' in segment %} active {% endif %}">
                    <a href="{% url 'users' %}" class="nav-link "><span class="pcoded-micon"><i
                            class="feather icon-file-text"></i></span><span
                            class="pcoded-mtext">Users</span></a>
                </li>
                <li data-username="form elements advance componant validation masking wizard picker select"
                    class="nav-item {% if 'ui-forms' in segment %} active {% endif %}">
                    <a href="{% url 'settings' %}" class="nav-link "><span class="pcoded-micon"><i
                            class="feather icon-file-text"></i></span><span
                            class="pcoded-mtext">Settings</span></a>
                </li>
                <li data-username="form elements advance componant validation masking wizard picker select"
                    class="nav-item {% if 'ui-forms' in segment %} active {% endif %}">
                    <a href="{% url 'clicommands' %}" class="nav-link "><span class="pcoded-micon"><i
                            class="feather icon-file-text"></i></span><span
                            class="pcoded-mtext">Cli Commands</span></a>
                </li>


                <li data-username="form elements advance componant validation masking wizard picker select"
                    class="nav-item {% if 'ui-forms' in segment %} active {% endif %}">
                    <a href="{% url 'myaccount' %}" class="nav-link "><span class="pcoded-micon"><i
                            class="feather icon-file-text"></i></span><span
                            class="pcoded-mtext">My Account</span></a>
                </li>
                <li data-username="form elements advance componant validation masking wizard picker select"
                    class="nav-item {% if 'ui-forms' in segment %} active {% endif %}">
                    <a href="{% url 'password' %}" class="nav-link "><span class="pcoded-micon"><i
                            class="feather icon-file-text"></i></span><span
                            class="pcoded-mtext">Reset Password</span></a>
                </li>
                <li data-username="form elements advance componant validation masking wizard picker select"
                    class="nav-item {% if 'ui-forms' in segment %} active {% endif %}">
                    <a href="/" class="nav-link "><span class="pcoded-micon"><i
                            class="feather icon-file-text"></i></span><span
                            class="pcoded-mtext">Logout</span></a>
                </li>

                <li data-username="form elements advance componant validation masking wizard picker select"
                    class="nav-item {% if 'ui-forms' in segment %} active {% endif %}">
                    <a href="{% url 'nextcloud' %}" class="nav-link "><span class="pcoded-micon"><i
                            class="feather icon-file-text"></i></span><span
                            class="pcoded-mtext">Next</span>
                    </a>
                </li>

            </ul>



        </div>
    </div>
</nav>
